// ============
// Variables
// ============

$white: #ffffff;
$black: #262626;
$lightgrey: #eeeeee;
$darkgrey: #a6a5a5;
$menu-animation-duration: 400ms;
$menu-animation-timing:   ease-out;

// ============
// Fonts
// ============

@font-face {
  font-family: brandon-med;
  src: url(fonts/Brandon_Grotesque_Medium.otf);
}

@font-face {
  font-family: brandon-bold;
  src: url(fonts/Brandon_Grotesque_Bold.otf);
}

@font-face {
  font-family: cloud;
  src: url(fonts/Cloud-Light.otf);
}

@font-face {
  font-family: harenosora;
  src: url(fonts/Harenosora.otf);
}


// ============
// BASE STYLES
// ============

body {
}

h1 {
  font-family: brandon-med;
}

h2 {
  font-family: brandon-bold;
  color: $white;
}

h3 {
  font-family: brandon-med;
}

h4 {
  font-family: brandon-med;
}

h5 {
  font-family: brandon-med;
}

h6 {
  font-family: brandon-bold;
  text-transform: uppercase;
}

p {
  font-family: cloud;
}

a {
    color: $black;
    font-family: brandon-med;
    transition: 0.3s;

    &:hover {
      color: $darkgrey;
    }

    &:focus {
      color: $black;
    }
}

ul {
    list-style-type: none;
    margin: 0;
}

section {
  margin: 30px 0 100px 0;
  padding: 0 .625rem;
}

.flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title-container {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;

  h3 {
    font-size: 14px;
  }
}

.inactive-link {
  pointer-events: none;
  cursor: not-allowed;
}

.mobile-only {
  display: block;
}

.mobile-hidden {
  display: none;
}

// Ripple Effect
.ripple-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999999999999999999999999;

  .ripple {
    background: $black;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    
    &.is-animating {
      animation: ripple 1s linear;
      transform: translate(-50%, -50%) scale(1) translateZ(0) translate3d(0,0,0);
    }
  }
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(0) translateZ(0) translate3d(0,0,0);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1) translateZ(0) translate3d(0,0,0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1) translateZ(0) translate3d(0,0,0);
    opacity: 0;
  }
}

// ============
// HEADER
// ============

.page-header {
  width: 100%;
  position: fixed;
  top: 0; left: 0;
  background-color: $white;
  z-index: 999999999999999;
  border-bottom: solid 0 $lightgrey;
  transition: .3s;
}

.page-nav {
  width: 100%;
  align-items: center;
  padding: 25px 7.14%;
}

.logo-container {
  img {
      width: 35px;
  }
}

.burger-container {
    margin-left: auto;
    z-index: 999999;
}

.mobile-link-container {
  background-color: $white;
  position: fixed;
  top: 0; right: -300px;
  padding: 130px 0 0 25px;
  width: 50%; height: 100vh;
  opacity: 0;
  text-transform: uppercase;
  font-size: 13px;

  li {
      margin-bottom: 30px;
  }

  .burger-click-region:active + & {
    right: 0;
  }
}

// Burger Icon
.burger-click-region {
  margin-bottom: 12px;
  width: 25px;
  height: 6px;
  cursor: pointer;
}

.burger-menu-piece {
  display: block;
  position: relative;
  width: 25px;
  border-top: 2px solid $black;
  transform-origin: 50% 50%;
  transition: transform $menu-animation-duration $menu-animation-timing;
  
  &:nth-child(1) {
    top: 0;
  }
  
  &:nth-child(2) {
    top: 7px;
    opacity: 1;
    transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
  }
  
  &:nth-child(3) {
    top: 14px;
  }
  
  .active & {
    &:nth-child(1) {
      animation: burger-open-top $menu-animation-duration $menu-animation-timing forwards;
    }
    
    &:nth-child(2) {
      opacity: 0;
      transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
    }
    
    &:nth-child(3) {
      top: 20px;
      animation: burger-open-bot $menu-animation-duration $menu-animation-timing forwards;
    }
  }
  
  .closing & {
    &:nth-child(1) {
      animation: burger-close-top $menu-animation-duration $menu-animation-timing forwards;
    }
    
    &:nth-child(3) {
      animation: burger-close-bot $menu-animation-duration $menu-animation-timing forwards;
    }
  }
}

@keyframes burger-open-top {
  50% {
    transform: translate3d(0, 12px, 0);
  }
  100% {
    transform: translate3d(0, 12px, 0) rotate(45deg);
  }
}

@keyframes burger-open-bot {
  50% {
    transform: translate3d(0, -12px, 0);
  }
  100% {
    transform: translate3d(0, -12px, 0) rotate(-45deg);
  }
}

@keyframes burger-close-top {
  0% {
    transform: translate3d(0, 12px, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, 12px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes burger-close-bot {
  0% {
    transform: translate3d(0, -12px, 0) rotate(-45deg);
  }
  50% {
    transform: translate3d(0, -12px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.scrolled {
  border-bottom-width: 1px;
}

// ============
// FOOTER
// ============

.page-footer {
  text-align: center;

  .contact-form {
    background-color: $lightgrey;
    height: 150px;

    h4 {
      margin: 0;
      line-height: 1.6;
      font-size: 17px;
    }

    a {
      text-decoration: underline;;
    }
  }

  .social-links-container {
    background-color: $darkgrey;
    height: 70px;

    .socilal-links {
      color: $white;
      padding: 0 12px;
    }
  }

  .copyright-container {
    height: 50px;
    font-family: brandon-med;
    font-size: 11px;

    p {
      margin: 0;
    }
  }
}

// ============
// INDEX
// ============

.homepage-hero-section {
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
      font-size: 19px;
      line-height: 1.9;
  }
}

.hero-contents-container {
  height: 100px;
  overflow: hidden;
  z-index: -999999999;

  ul {
    -webkit-animation-name: change;
    -webkit-animation-duration: 12s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
}

@-webkit-keyframes change {
  0%, 30%, 100% {transform:translateY(0);}
  33%, 63% {transform:translateY(-33%);}
  66%, 96% {transform:translateY(-66.6666666666666%);}
}

@keyframes change {
  0%, 31%, 100% {transform:translateY(0);}
  33%, 64% {transform:translateY(-33%);}
  66%, 98% {transform:translateY(-66.6666666666666%);}
}

.hero-jap {
  h1 {
    font-size: 0.9rem;
    font-family: harenosora;
  }
}

.indicator-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
  transition: .5s;

  a {
    transition: .5s;

    &:hover {
      transform: translateY(-20px);
    }
  }
  p {
    font-family: brandon-med;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  i {
    font-size: 13px;
  }
}

.project-container {
  overflow: hidden;
  margin-bottom: 15px;
  padding: 0;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 99;
  }

  img {
    opacity: 0.55;
    transition: opacity 1.5s, transform 16s linear;
  }

  &:hover img {
    opacity: 1;
    transform: scale(1.2);
  }
}

#projects-section {
  .row {
    padding: 0 1.25rem;
  }
}

#about-section {
  margin-bottom: 70px;

  .about-contents-container {
    .about-image-container {
      margin-bottom: 30px;
    }

    p {
      font-size: 14px;
    }

    a {
      text-decoration: underline;
    }
  }
}

// ============
// PROJECTS
// ============

.project-page-hero-section {
  margin-top: 85px;
  width:100%; height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.geataway-hero {
  background-image: url('../images/projects/getaway_banner.png');
}

.fontboy-hero {
  background-image: url('../images/projects/fontboy_banner.png');
}

.richard-herrington-hero {
  background-image: url('../images/projects/rh_banner.png');
}

.nhpd-hero {
  background-image: url('../images/projects/nhpd_banner.png');
}

.julie-howgate-hero {
  background-image: url('../images/projects/julie_banner.png');
}

.ediphotos-hero {
  background-image: url('../images/projects/ediphotos_banner.png');
}

.abysmal-lounge-hero {
  background-image: url('../images/projects/abysmal_banner.png');
}

.myvu-hero {
  background-image: url('../images/projects/myvu_banner.png');
}

.projects-desc {
  margin: 30px 0 35px 0;
}

.projects-desc-container {
  text-align: center;
  text-transform: uppercase;

  h6 {
    font-size: 23px;
    margin-bottom: .2rem;
  }

  h5 {
    text-transform: capitalize;
    color: $darkgrey;
    font-size: 14px;
  }

  hr {
    max-width: 3.5rem;
  }

  p {
    text-transform: none;
    max-width: 17rem;
    margin: auto;
    font-size: 13.5px;
  }
}

.mockup-section {
  margin: 0;
  padding: 50px 0;
  background-color: $lightgrey;

  img {
    transition: 0.3s;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.4);
       -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.4);
            box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.4);
            
    &:hover {
      transform: scale(1.004);
      -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.7);
       -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.7);
            box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.7);
    }
  }
}

.links-section {
  margin: 30px 0 30px 0;
  text-align: center;
  text-transform: uppercase;

  a {
    font-size: 13px;
    border: solid 1px $black;
    padding: 4px 8px;

    &:hover {
      border: solid 1px $darkgrey;
    }
  }

  a:last-child {
    margin-left: 10px;
  }
}

// =============================================
// =============================================
// TABLET
// =============================================
// =============================================

@media screen and (min-width: 48em) {
    // ============
    // BASE STYLES
    // ============

    .mobile-only {
      display: none;
    }

    .mobile-hidden {
      display: block;
    }
    
    // ============
    // HEADER
    // ============
    
    .logo-container {
      img {
        width: 40px;
      }
    }

    .page-nav {
      padding: 20px 7.14%;
    }

    .nav-link-container {
      display: flex;
      margin-left: auto;
      text-transform: uppercase;
      font-size: 15px;

      li:not(:last-child) {
        padding: 0 13px;
      }

      li:last-child {
        padding-left: 35px;
      }
    }


    // ============
    // FOOTER
    // ============

    .page-footer {
      .contact-form {
        height: 210px;

        h4 {
          font-size: 26px;
        }
      }

      .social-links-container {
        .socilal-links {
          padding: 0 15px;
          font-size: 22px;
        }
      }

      .copyright-container {
        font-size: 12px;
      }
    }

    // ============
    // INDEX
    // ============

    .homepage-hero-section {
      h1 {
        font-size: 2.188rem;
      }

      .hero-contents-container {
        height: 190px;

        .hero-jap {
          h1 {
            font-size: 1.75rem;
            font-family: harenosora;
          }
        }
      }
    }

    .section-title-container {
      h3 {
        font-size: 18px;
      }
    }

    #about-section .about-contents-container .about-image-container {
      margin-bottom: 50px;
    }

    .about-desc {
      text-align: center;

      h6:not(:first-child) {
        margin-top: 40px;
      }
    }

    // ============
    // PROJECTS
    // ============
    
    .project-page-hero-section {
      margin-top: 80px;
      height: 200px;
    }

    .geataway-hero {
      background-position: center bottom;
    }

    .fontboy-hero {
      background-position: center top;
    }

    .ediphotos-hero {
      background-position: center bottom;
    }

    .projects-desc {
      margin: 50px 0;
    }

    .projects-desc-container {
      h6 {
        font-size: 26px;
      }

      p {
        max-width: 25rem;
      }
    }

    .mockup-section {
      padding: 70px 0;
    }

    .links-section {
      margin: 60px 0;

      a {
        font-size: 15px;
        padding: 6px 10px;
      }

      a:last-child {
        margin-left: 15px;
      }
    }
}


// =============================================
// =============================================
// DESKTOP
// =============================================
// =============================================

@media screen and (min-width: 64em) {
    // ============
    // BASE STYLES
    // ============
    
    // ============
    // HEADER
    // ============
    
    .logo-container {
      img {
        width: 45px;
      }
    }

    .page-nav {
      padding: 30px 9.14%;
    }

    .section-title-container {
      h3 {
        font-size: 20px;
      }
    }

    .about-desc {
      text-align: left;

      h6:not(:first-child) {
        margin-top: 20px;
      }
    }

    // ============
    // FOOTER
    // ============
    
    .page-footer {
      .contact-form {
        height: 240px;

        h4 {
          font-size: 28px;
        }
      }

      .social-links-container {
        height: 80px;

        .socilal-links {
          padding: 0 18px;
          font-size: 23px;
        }
      }

      .copyright-container {
        height: 60px;
        font-size: 13px;
      }
    }

    // ============
    // INDEX
    // ============

    .project-container {
      h2 {
        font-size: 3rem;
      }
    }

    .section-title-container {
      margin-bottom: 110px;
    }

    // ============
    // PROJECTS
    // ============
    
    .project-page-hero-section {
      margin-top: 105px;
      height: 300px;
    }

    // The Getaway
    .projects-desc {
      margin: 80px 0;
    }

    .projects-desc-container {

      h6 {
        font-size: 33px;
      }

      h5 {
        font-size: 16px;
      }

      p {
        max-width: 45rem;
        font-size: 14.5px;
      }
    }

    .mockup-section {
      padding: 100px 0;
    }

    .links-section {
      margin: 80px 0;

      a {
        font-size: 22px;
        padding: 8px 15px;
      }

      a:last-child {
        margin-left: 30px;
      }
    }
}

// =============================================
// =============================================
// DESKTOP LARGE
// =============================================
// =============================================

@media screen and (min-width: 90em) {
    // ============
    // BASE STYLES
    // ============
    
    // ============
    // HEADER
    // ============

    // ============
    // FOOTER
    // ============
    
    .page-footer {
      .contact-form {
        height: 250px;

        h4 {
          font-size: 30px;
        }
      }
    }

    // ============
    // INDEX
    // ============

    .homepage-hero-section {
      h1 {
        font-size: 2.788rem;
      }

      .hero-contents-container {
        height: 255px;

        .hero-jap {
          h1 {
            font-size: 2.25rem;
            font-family: harenosora;
          }
        }
      }
    }

    .indicator-container {
      p {
        font-size: 15px;
      }
      i {
        font-size: 15px;
      }
    }

    .project-container {
      h2 {
        font-size: 3rem;
      }
    }

    .section-title-container {
      margin-bottom: 120px;
    }

    // ============
    // PROJECTS
    // ============
}