// ============
// Variables
// ============

$white: #ffffff;
$black: #262626;
$menu-animation-duration: 400ms;
$menu-animation-timing:   ease-out;

// ============
// Fonts
// ============

@font-face {
  font-family: brandon-med;
  src: url(fonts/Brandon_Grotesque_Medium.otf);
}

@font-face {
  font-family: brandon-bold;
  src: url(fonts/Brandon_Grotesque_Bold.otf);
}

@font-face {
  font-family: cloud;
  src: url(fonts/Cloud-Light.otf);
}

@font-face {
  font-family: harenosora;
  src: url(fonts/Harenosora.otf);
}


// ============
// BASE STYLES
// ============

body {
}

h1 {
  font-family: brandon-med;
}

h2 {
  font-family: brandon-bold;
  color: $white;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

a {
    color: $black;
    font-family: brandon-med;
}

ul {
    list-style-type: none;
    margin: 0;
}

.flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


// ============
// HEADER
// ============

.page-header {
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    background-color: $white;
    z-index: 999999999999999;
}

.page-nav {
    width: 100%;
    align-items: center;
    padding: 25px 7.14%;
}

.logo-container {
    img {
        width: 35px;
    }
}

.burger-container {
    margin-left: auto;
    z-index: 999999;
}

.mobile-link-container {
    background-color: $white;
    position: fixed;
    top: 0; right: 0;
    padding: 130px 0 0 25px;
    width: 45%; height: 100vh;
    opacity: 0;
    text-transform: uppercase;
    font-size: 13px;

    li {
        margin-bottom: 30px;
    }
}

// Burger Icon

.burger-click-region {
  margin-bottom: 12px;
  width: 25px;
  height: 6px;
  cursor: pointer;
}

.burger-menu-piece {
  display: block;
  position: relative;
  width: 25px;
  border-top: 2px solid $black;
  transform-origin: 50% 50%;
  transition: transform $menu-animation-duration $menu-animation-timing;
  
  &:nth-child(1) {
    top: 0;
  }
  
  &:nth-child(2) {
    top: 7px;
    opacity: 1;
    transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
  }
  
  &:nth-child(3) {
    top: 14px;
  }
  
  .active & {
    &:nth-child(1) {
      animation: burger-open-top $menu-animation-duration $menu-animation-timing forwards;
    }
    
    &:nth-child(2) {
      opacity: 0;
      transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
    }
    
    &:nth-child(3) {
      top: 20px;
      animation: burger-open-bot $menu-animation-duration $menu-animation-timing forwards;
    }
  }
  
  .closing & {
    &:nth-child(1) {
      animation: burger-close-top $menu-animation-duration $menu-animation-timing forwards;
    }
    
    &:nth-child(3) {
      animation: burger-close-bot $menu-animation-duration $menu-animation-timing forwards;
    }
  }
}

@keyframes burger-open-top {
  50% {
    transform: translate3d(0, 12px, 0);
  }
  100% {
    transform: translate3d(0, 12px, 0) rotate(45deg);
  }
}

@keyframes burger-open-bot {
  50% {
    transform: translate3d(0, -12px, 0);
  }
  100% {
    transform: translate3d(0, -12px, 0) rotate(-45deg);
  }
}

@keyframes burger-close-top {
  0% {
    transform: translate3d(0, 12px, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, 12px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes burger-close-bot {
  0% {
    transform: translate3d(0, -12px, 0) rotate(-45deg);
  }
  50% {
    transform: translate3d(0, -12px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

// ============
// FOOTER
// ============


// ============
// INDEX
// ============

.homepage-hero-section {
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
      font-size: 19px;
      line-height: 1.9;
  }
}

.hero-contents-container {
  height: 100px;
  overflow: hidden;
  z-index: -999999999;

  ul {
    -webkit-animation-name: change;
    -webkit-animation-duration: 16s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 16s;
    animation-iteration-count: infinite;
  }
}

// @-webkit-keyframes opacity {
//   0%, 100% {opacity:0;}
//   50% {opacity:1;}
// }

// @-webkit-keyframes change {
//   0%, 12%, 100% {transform:translateY(0);}
//   17%,29% {transform:translateY(-25%);}
//   34%,46% {transform:translateY(-50%);}
//   51%,63% {transform:translateY(-75%);}
//   68%,80% {transform:translateY(-50%);}
//   85%,97% {transform:translateY(-25%);}
// }

@keyframes change {
   0%, 30%, 100% {transform:translateY(0);}
  33%, 63% {transform:translateY(-33%);}
  66%, 96% {transform:translateY(-66.6666666666666%);}
}

.hero-jap {
  h1 {
    font-size: 0.9rem;
    font-family: harenosora;
  }
}

.indicator-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;

  p {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  &:hover {
    animation: bounce 1.5s;
    animation-iteration-count: infinite;
  }
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

// ============
// WORK
// ============

.works-section {
  margin: 30px 0 100px 0;
}

.work-container {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: 15px;

    h2 {
      font-size: 27px;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      z-index: -999;
    }
}

.overlay {
  background-color: $white;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}


// =============================================
// =============================================
// TABLET
// =============================================
// =============================================

@media screen and (min-width: 48em) {
    // ============
    // BASE STYLES
    // ============
    
    // ============
    // HEADER
    // ============


    // ============
    // FOOTER
    // ============


    // ============
    // INDEX
    // ============


    // ============
    // WORK
    // ============
}


// =============================================
// =============================================
// DESKTOP
// =============================================
// =============================================

@media screen and (min-width: 64em) {
    // ============
    // BASE STYLES
    // ============
    
    // ============
    // HEADER
    // ============


    // ============
    // FOOTER
    // ============


    // ============
    // INDEX
    // ============


    // ============
    // WORK
    // ============
}
