// ============
// Variables
// ============

$white: #ffffff;
$black: #262626;
$lightgrey: #eeeeee;
$darkgrey: #a6a5a5;
$menu-animation-duration: 400ms;
$menu-animation-timing:   ease-out;

// ============
// Fonts
// ============

@font-face {
  font-family: brandon-med;
  src: url(fonts/Brandon_Grotesque_Medium.otf);
}

@font-face {
  font-family: brandon-bold;
  src: url(fonts/Brandon_Grotesque_Bold.otf);
}

@font-face {
  font-family: cloud;
  src: url(fonts/Cloud-Light.otf);
}

@font-face {
  font-family: harenosora;
  src: url(fonts/Harenosora.otf);
}


// ============
// BASE STYLES
// ============

body {
}

h1 {
  font-family: brandon-med;
}

h2 {
  font-family: brandon-bold;
  color: $white;
}

h3 {
  font-family: brandon-med;
}

h4 {

}

h5 {

}

h6 {
  font-family: brandon-bold;
  text-transform: uppercase;
}

p {
  font-family: cloud;
}

a {
    color: $black;
    font-family: brandon-med;
}

ul {
    list-style-type: none;
    margin: 0;
}

section {
  margin: 30px 0 100px 0;
  padding: 0 .625rem;
}

.flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title-container {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;

  h3 {
    font-size: 14px;
  }
}


// ============
// HEADER
// ============

.page-header {
  width: 100%;
  position: fixed;
  top: 0; left: 0;
  background-color: $white;
  z-index: 999999999999999;
}

.page-nav {
  width: 100%;
  align-items: center;
  padding: 25px 7.14%;
}

.logo-container {
  img {
      width: 35px;
  }
}

.burger-container {
    margin-left: auto;
    z-index: 999999;
}

.mobile-link-container {
  background-color: $white;
  position: fixed;
  top: 0; right: -300px;
  padding: 130px 0 0 25px;
  width: 50%; height: 100vh;
  opacity: 0;
  text-transform: uppercase;
  font-size: 13px;

  li {
      margin-bottom: 30px;
  }

  .burger-click-region:active + & {
    right: 0;
  }
}

// Burger Icon
.burger-click-region {
  margin-bottom: 12px;
  width: 25px;
  height: 6px;
  cursor: pointer;
}

.burger-menu-piece {
  display: block;
  position: relative;
  width: 25px;
  border-top: 2px solid $black;
  transform-origin: 50% 50%;
  transition: transform $menu-animation-duration $menu-animation-timing;
  
  &:nth-child(1) {
    top: 0;
  }
  
  &:nth-child(2) {
    top: 7px;
    opacity: 1;
    transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
  }
  
  &:nth-child(3) {
    top: 14px;
  }
  
  .active & {
    &:nth-child(1) {
      animation: burger-open-top $menu-animation-duration $menu-animation-timing forwards;
    }
    
    &:nth-child(2) {
      opacity: 0;
      transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
    }
    
    &:nth-child(3) {
      top: 20px;
      animation: burger-open-bot $menu-animation-duration $menu-animation-timing forwards;
    }
  }
  
  .closing & {
    &:nth-child(1) {
      animation: burger-close-top $menu-animation-duration $menu-animation-timing forwards;
    }
    
    &:nth-child(3) {
      animation: burger-close-bot $menu-animation-duration $menu-animation-timing forwards;
    }
  }
}

@keyframes burger-open-top {
  50% {
    transform: translate3d(0, 12px, 0);
  }
  100% {
    transform: translate3d(0, 12px, 0) rotate(45deg);
  }
}

@keyframes burger-open-bot {
  50% {
    transform: translate3d(0, -12px, 0);
  }
  100% {
    transform: translate3d(0, -12px, 0) rotate(-45deg);
  }
}

@keyframes burger-close-top {
  0% {
    transform: translate3d(0, 12px, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, 12px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes burger-close-bot {
  0% {
    transform: translate3d(0, -12px, 0) rotate(-45deg);
  }
  50% {
    transform: translate3d(0, -12px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.scrolled {
  border-bottom: solid 2px $lightgrey;
}

// ============
// FOOTER
// ============

.page-footer {
  text-align: center;

  .contact-form {
    background-color: $lightgrey;
    height: 150px;

    h4 {
      margin: 0;
      line-height: 1.6;
      font-size: 17px;
    }

    a {
      text-decoration: underline;;
    }
  }

  .social-links-container {
    background-color: $darkgrey;
    height: 70px;

    .socilal-links {
      color: $white;
      padding: 0 12px;
    }
  }

  .copyright-container {
    height: 50px;
    font-family: brandon-med;
    font-size: 11px;

    p {
      margin: 0;
    }
  }
}

// ============
// INDEX
// ============

.homepage-hero-section {
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
      font-size: 19px;
      line-height: 1.9;
  }
}

.hero-contents-container {
  height: 100px;
  overflow: hidden;
  z-index: -999999999;

  ul {
    -webkit-animation-name: change;
    -webkit-animation-duration: 18s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 18s;
    animation-iteration-count: infinite;
  }
}

@-webkit-keyframes change {
  0%, 30%, 100% {transform:translateY(0);}
  33%, 63% {transform:translateY(-33%);}
  66%, 96% {transform:translateY(-66.6666666666666%);}
}

@keyframes change {
  0%, 30%, 100% {transform:translateY(0);}
  33%, 63% {transform:translateY(-33%);}
  66%, 96% {transform:translateY(-66.6666666666666%);}
}

.hero-jap {
  h1 {
    font-size: 0.9rem;
    font-family: harenosora;
  }
}

.indicator-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
  transition: .5s;

  a {
    transition: .5s;

    &:hover {
      transform: translateY(-20px);
    }
  }
  p {
    font-family: brandon-med;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.work-container {
  overflow: hidden;
  margin-bottom: 15px;
  padding: 0;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 99999;
  }

  img {
    opacity: 0.4;
    transition: opacity 1.5s, transform 8s linear;
  }

  &:hover img {
    opacity: 1;
    transform: scale(1.2);
  }
}

#about-section {
  margin-bottom: 70px;

  .about-contents-container {
    .about-image-container {
      margin-bottom: 30px;
    }

    p {
      font-size: 14px;
    }
  }
}

// ============
// WORK
// ============


// =============================================
// =============================================
// TABLET
// =============================================
// =============================================

@media screen and (min-width: 48em) {
    // ============
    // BASE STYLES
    // ============
    
    // ============
    // HEADER
    // ============

    .mobile-link-container, .burger-container {
      display: none;
    }


    // ============
    // FOOTER
    // ============


    // ============
    // INDEX
    // ============


    // ============
    // WORK
    // ============
}


// =============================================
// =============================================
// DESKTOP
// =============================================
// =============================================

@media screen and (min-width: 64em) {
    // ============
    // BASE STYLES
    // ============
    
    // ============
    // HEADER
    // ============


    // ============
    // FOOTER
    // ============


    // ============
    // INDEX
    // ============


    // ============
    // WORK
    // ============
}
